
# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Codegit rm -r --cached venv
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
git add .
# FAISS Index
*.faiss

# Python
.pytest_cache/